<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Project Management</title>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/ie-emulation-modes-warning.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/plugins/jquery.tmpl.min.js"></script>
<script src="/js/plugins/toastr.min.js"></script>
<script src="/js/plugins/jquery.jedate.min.js"></script>


<!-- CSS件 -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/customer/common.css" />
<link rel="stylesheet" href="/css/plugins/toastr.min.css" />
<link rel="stylesheet" href="/css/plugins/jedate.css" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- header -->
	<div th:replace="repository/common/header :: header"></div>
	<!-- content -->
	<div class="container-fluid">
		<div class="row">
			<!-- left -->
			<div class="col-sm-3 col-md-2 sidebar">
				<div th:replace="repository/common/advance-left :: advance-left"></div>
			</div>

			<!-- center content -->
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<div class="form-group">
					<a href="/advance/export/all" id="downloadAllLink">下载所有订单</a> <br />
					<a href="/advance/export/allDebt" id="downloadAllDebtLink">下载所有未支付订单</a>
					<br />
				</div>

				<div class="form-group">
					<label for="query">选择查询年份</label> <input class="workinput wicon"
						id="year" />
					<button type="button" class="btn btn-primary" id="queryBtn">确定</button>
					<br /> <a href="/advance/export/all" id="downloadAllLinkYearly">下载该年度所有订单</a>
					<br /> <a href="/advance/export/allDebt"
						id="downloadAllDebtLinkYearly">下载该年度所有未支付订单</a>
				</div>

			</div>
		</div>
	</div>

	<!-- JS file -->
	<script type="text/javascript">
		$(function() {
			$('#advance-left li').removeClass("active").eq(0).prop('class',
					'active');
			$('.navbar-collapse li').removeClass("active").eq(1).prop('class',
					'active');

			$('#year').jeDate({
				isinitVal : true,
				format : 'YYYY'
			});

			
			var queryYear = $("#year").val();
			if ($("#year").val() == "") {
				var today = new Date();
				var year = today.getFullYear();
				queryYear = year;
			}
			$("#downloadAllLinkYearly").prop("href",
					"/advance/export/all/" + queryYear);
			$("#downloadAllDebtLinkYearly").prop("href",
					"/advance/export/allDebt/" + queryYear);

			$("#downloadAllLinkYearly").text(
					"下载" + queryYear + "年度所有订单");
			$("#downloadAllDebtLinkYearly").text(
					"下载" + queryYear + "年度所有未支付订单");
			
			
			
			$("#queryBtn").on(
					"click",
					function() {
						
						queryYear = $("#year").val();

						if ($("#year").val() == "") {
							var today = new Date();
							var year = today.getFullYear();
							queryYear = year;
							toastr.info("没有选择年份，默认为" + queryYear);
						}
						$("#downloadAllLinkYearly").prop("href",
								"/advance/export/all/" + queryYear);
						$("#downloadAllDebtLinkYearly").prop("href",
								"/advance/export/allDebt/" + queryYear);

						$("#downloadAllLinkYearly").text(
								"下载" + queryYear + "年度所有订单");
						$("#downloadAllDebtLinkYearly").text(
								"下载" + queryYear + "年度所有未支付订单");
					});
		});
	</script>
</body>
</html>